@import url('https://fonts.googleapis.com/css?family=Bebas_Neue:700');
@import url('https://fonts.googleapis.com/css2?family=Heebo&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

#row ::-webkit-scrollbar {
  height: 3px;
  background-color: transparent;
  
}
#row ::-webkit-scrollbar-thumb {
  background: rgb(51, 51, 51, 0.2);
  border-radius: 10px;
  opacity: 0.5;
}

/* Track */

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}
